# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

# Ignore everything in dist
dist/*
# Un-ignore the assets folder so Git can look inside
!dist/assets/
# Ignore everything inside assets
dist/assets/*
# Un-ignore ONLY the file you want to keep
!dist/assets/auto-wrap-up.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sh
